.swiper, .swiper2 {
    width: 100%;
    max-width: 1600px;
    height: 300px;
  }
  @media (max-width:1024px){
    img{
        height: 344px;
    }
  }
body{
    margin: 0;
    background-color:#fff;
}
.swiper-hero img{
    height: 300px;
    width: 100%;
    object-fit: cover;
}

.swiper-button-prev,
.swiper-button-next{
   
    height: 70px;
    width: 50px;
    --swiper-navigation-size: 20px;
    margin-top: -35px;
    border: none;
    background-color: none;
    opacity: 0;
    transition: opacity 0.3s;
}
.swiper-button-prev{
    border-radius: 0 65px  65px 0;
    left: -10px;

}
.swiper-button-next{
    border-radius: 65px 0  0 65px;
   right: -10px;
}
.swiper:hover .swiper-button-prev,
.swiper:hover .swiper-button-next {
    background-color: white;
    opacity: 1;
}

.swiper-pagination{
    --swiper-pagination-color:white; 
    --swiper-pagination-bullet-size: 6px;
    --swiper-pagination-bullet-inactive-color: black;
    --swiper-pagination-bullet-inactive-opacity: 0.25;
    --swiper-pagination-bullet-opacity: 1;
    --swiper-pagination-bullet-horizontal-gap: 2px;
}
.swiper-pagination-bullet{
    box-shadow: inset 0 0 0 1px #fff; 
   
}
.swiper-pagination-bullet-active{
   box-shadow: 0 0 0 1px rgb(0 0 0 / 25%); 
}

.swiper-products img{
    height: 200px;
    width: 200px;
}
.swiper-products img:hover{
    box-shadow: 1px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 1px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 10px 5px 0px rgba(0,0,0,0.75);
}
.product-container{
    margin: 20 auto;
    max-width: 1200px;
    padding: 40px 0;
    background-color: lightgray;
}

/* @media (max-width:950px){
    .swiper-products img{
        height: 100px;
        width: 100px;
    }
    .swiper-hero img{
        height: 250px;
        width: 100%;
        object-fit: cover;
} 
}*/
.swiper-products .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

@media (max-width: 760px) {

    .swiper-hero img{
        height: 200px;
        width: 100%;
        object-fit: cover;
    }

    .swiper-button-prev,
    .swiper-button-next{
    --swiper-navigation-size: 10px;
    margin-top: -35px;
    height: 50px;
    width: 30px;
    }

}